---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dev-pod-home
  namespace: development
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: truenas-iscsi-csi
