---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hayden-redis
  namespace: business-system
spec:
  interval: 15m
  install:
    timeout: 10m
  upgrade:
    timeout: 10m
  chartRef:
    kind: OCIRepository
    name: hayden-redis
    namespace: business-system
  values:
    architecture: replication
    global:
      imageRegistry: public.ecr.aws
      security:
        allowInsecureImages: true
    image:
      registry: public.ecr.aws
      repository: bitnami/redis
      tag: 8.2.1-debian-12-r0
    auth:
      enabled: false
    commonConfiguration: |-
      maxmemory 768mb
      maxmemory-policy allkeys-lru
      appendonly yes
    sentinel:
      enabled: true
      masterSet: mymaster
      image:
        registry: public.ecr.aws
        repository: bitnami/redis-sentinel
        tag: 8.2.1-debian-12-r0
      resources:
        requests:
          cpu: 50m
          memory: 64Mi
        limits:
          memory: 128Mi
    master:
      persistence:
        enabled: true
        storageClass: ceph-block
        size: 5Gi
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          memory: 1Gi
    replica:
      replicaCount: 3
      persistence:
        enabled: true
        storageClass: ceph-block
        size: 5Gi
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          memory: 1Gi
