---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: mariadb-operator-crds
  namespace: database-system
spec:
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  path: "./apps/base/database-system/mariadb-operator/crds/app"
  prune: false  # Never prune CRDs
  wait: true
  sourceRef:
    kind: OCIRepository
    name: flux-system
    namespace: flux-system
