---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - helmrelease.yaml
  - httproute.yaml
  - securitypolicy.yaml
  - ocirepository.yaml
  - pvc.yaml
  - secret.enc.age.yaml
  - secret-data-restic.enc.age.yaml
  - replicationsource.yaml
