---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cert-manager-issuer-local
  namespace: network-system
spec:
  dependsOn:
    - name: cert-manager
      namespace: network-system
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  path: "./apps/base/network-system/cert-manager-issuer-local/app"
  prune: true
  wait: true
  sourceRef:
    kind: OCIRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: network-system
