---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/servicemonitor_v1.json
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: redis
  namespace: database-system
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: redis
  endpoints:
    - port: metrics
      interval: 30s
      path: /metrics
