---
apiVersion: v1
kind: Service
metadata:
  name: thanos-store
  namespace: observability
  labels:
    app.kubernetes.io/name: thanos-store
    app.kubernetes.io/component: store-gateway
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 10902
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 10901
      targetPort: grpc
      protocol: TCP
  selector:
    app.kubernetes.io/name: thanos-store
    app.kubernetes.io/component: store-gateway
