---
apiVersion: v1
kind: Service
metadata:
  name: thanos-compactor
  namespace: observability
  labels:
    app.kubernetes.io/name: thanos-compactor
    app.kubernetes.io/component: compactor
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 10902
      targetPort: http
      protocol: TCP
  selector:
    app.kubernetes.io/name: thanos-compactor
    app.kubernetes.io/component: compactor
