---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kguardian-db-data
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ceph-block
  resources:
    requests:
      storage: 5Gi
