---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app onlyoffice
  namespace: home-system
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: onlyoffice
  install:
    timeout: 10m
    replace: true
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      remediateLastFailure: true
      retries: 3
      strategy: rollback
    cleanupOnFail: true
    crds: CreateReplace
  test:
    enable: true
  rollback:
    recreate: true
    force: true
    cleanupOnFail: true
  uninstall:
    keepHistory: false
  driftDetection:
    mode: enabled
  maxHistory: 3
  values:
    controllers:
      *app :
        containers:
          app:
            image:
              repository: onlyoffice/documentserver
              tag: 8.2.2
            env:
              TZ: Australia/Melbourne
              JWT_ENABLED: "true"
              JWT_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: onlyoffice-secret
                    key: jwt-secret
              WOPI_ENABLED: "true"
            resources:
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                memory: 4Gi
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthcheck
                    port: 80
                  initialDelaySeconds: 60
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 6
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthcheck
                    port: 80
                  initialDelaySeconds: 60
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 6
    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: onlyoffice
        ports:
          http:
            port: 80
    persistence:
      data:
        existingClaim: onlyoffice-data
        globalMounts:
          - path: /var/www/onlyoffice/Data
      logs:
        type: emptyDir
        globalMounts:
          - path: /var/log/onlyoffice
      cache:
        type: emptyDir
        globalMounts:
          - path: /var/lib/onlyoffice
