---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: label-generator
  namespace: business-system
spec:
  decryption:
    provider: sops
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  path: "./apps/base/business-system/label-generator/app"
  prune: true
  wait: false
  sourceRef:
    kind: OCIRepository
    name: flux-system
    namespace: flux-system
  dependsOn:
    - name: envoy-gateway-gateway-api
      namespace: network-system
