---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: odoo-pg
  namespace: business-system
spec:
  instances: 3
  primaryUpdateStrategy: unsupervised
  affinity:
    enablePodAntiAffinity: true
    topologyKey: kubernetes.io/hostname
    podAntiAffinityType: required
  imageName: ghcr.io/cloudnative-pg/postgresql:17.7-202512080807-system-bookworm
  enableSuperuserAccess: true
  superuserSecret:
    name: odoo-pg-superuser
  monitoring:
    enablePodMonitor: true
  bootstrap:
    initdb:
      database: odoo
      owner: odoo
      secret:
        name: odoo-pg-app
  storage:
    size: 100Gi
    storageClass: ceph-block
  walStorage:
    size: 50Gi
    storageClass: ceph-block
  resources:
    requests:
      cpu: 500m
      memory: 2Gi
    limits:
      memory: 6Gi
  postgresql:
    parameters:
      max_connections: "200"
      shared_buffers: 1536MB
      effective_cache_size: 4GB
      maintenance_work_mem: 256MB
      checkpoint_completion_target: "0.9"
      wal_buffers: 48MB
      default_statistics_target: "100"
      random_page_cost: "1.1"
      effective_io_concurrency: "200"
      work_mem: 16MB
      min_wal_size: 1GB
      max_wal_size: 4GB
  backup:
    retentionPolicy: "7d"
    barmanObjectStore:
      destinationPath: gs://hayden-odoo-backups/base
      googleCredentials:
        applicationCredentials:
          name: odoo-objstore
          key: serviceAccount
      wal:
        compression: gzip
        maxParallel: 4
      data:
        compression: gzip
