---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: odoo-filestore-rwx
  namespace: business-system
  labels:
    app.kubernetes.io/name: odoo
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
  storageClassName: ceph-filesystem
