---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: thanos-query
  namespace: observability
spec:
  decryption:
    provider: sops
  interval: 30m
  retryInterval: 1m
  timeout: 10m
  path: "./apps/base/observability/thanos-query/app"
  prune: true
  wait: true
  sourceRef:
    kind: OCIRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: observability
  dependsOn:
    - name: kube-prometheus-stack
      namespace: observability
    - name: thanos-store
      namespace: observability
