---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ai-system

resources:
  - helmrelease.yaml
  - helmrepository.yaml
  - httproute.yaml
  - securitypolicy.yaml
  - secret-n8n-values.enc.age.yaml

configMapGenerator:
  - name: n8n-values
    files:
      - values.yaml=./values.yaml

configurations:
  - kustomizeconfig.yaml
