---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ai-system

resources:
  - helmrelease.yaml
  - ocirepository.yaml
  - secret-kmcp-values.enc.age.yaml

configMapGenerator:
  - name: kmcp-values
    files:
      - values.yaml=./values.yaml

configurations:
  - kustomizeconfig.yaml
