---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ai-system

resources:
  - helmrelease.yaml
  - ocirepository.yaml
  - httproute.yaml
  - securitypolicy.yaml
  - modelconfig.yaml
  - agent-flux-troubleshooter.yaml
  - secret-kagent-values.enc.age.yaml

configMapGenerator:
  - name: kagent-values
    files:
      - values.yaml=./values.yaml

configurations:
  - kustomizeconfig.yaml
