---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: roundcube-db
  namespace: business-system
spec:
  instances: 1
  imageName: ghcr.io/cloudnative-pg/postgresql:16.4

  storage:
    size: 5Gi
    storageClass: ceph-block

  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      memory: 512Mi

  postgresql:
    parameters:
      max_connections: "50"
      shared_buffers: "128MB"

  bootstrap:
    initdb:
      database: roundcube
      owner: roundcube

  backup:
    retentionPolicy: "7d"
    barmanObjectStore:
      destinationPath: s3://cnpg-roundcube/
      endpointURL: http://192.168.50.17:9000
      s3Credentials:
        accessKeyId:
          name: cnpg-minio-credentials
          key: ACCESS_KEY_ID
        secretAccessKey:
          name: cnpg-minio-credentials
          key: SECRET_ACCESS_KEY
      wal:
        compression: gzip
        maxParallel: 2
      data:
        compression: gzip

  monitoring:
    enablePodMonitor: true
