---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: auntalma-var
  namespace: business-system
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ceph-filesystem
  resources:
    requests:
      storage: 50Gi
