---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: chatwoot-objstore
  namespace: business-system
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: chatwoot-objstore
    template:
      data:
        serviceAccount: |
          {
            "type": "{{ .type }}",
            "project_id": "{{ .project_id }}",
            "private_key_id": "{{ .private_key_id }}",
            "private_key": {{ .private_key | toJson }},
            "client_email": "{{ .client_email }}",
            "client_id": "{{ .client_id }}",
            "auth_uri": "{{ .auth_uri }}",
            "token_uri": "{{ .token_uri }}",
            "auth_provider_x509_cert_url": "{{ .auth_provider_x509_cert_url }}",
            "client_x509_cert_url": "{{ .client_x509_cert_url }}",
            "universe_domain": "{{ .universe_domain }}"
          }
  dataFrom:
    - extract:
        # Dedicated Chatwoot SA with access to hayden-chatwoot-backups bucket
        key: chatwoot-objstore
