---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: security-system

resources:
  - helmrelease.yaml
  - ocirepository.yaml
  - prometheusrule.yaml

configMapGenerator:
  - name: kyverno-values
    files:
      - values.yaml

generatorOptions:
  disableNameSuffixHash: true
