metrics:
  enable: true
  serviceMonitor:
    enabled: true
providerRegex: ^talos-\d$
replicas: 2
topologySpreadConstraints:
  - maxSkew: 1
    topologyKey: kubernetes.io/hostname
    whenUnsatisfiable: DoNotSchedule
    labelSelector:
      matchLabels:
        app.kubernetes.io/name: kubelet-csr-approver
