---
apiVersion: v1
kind: Service
metadata:
  name: dovecot
  namespace: business-system
  labels:
    app.kubernetes.io/name: dovecot
    app.kubernetes.io/component: imap-proxy
spec:
  type: ClusterIP
  ports:
    - name: imap
      port: 143
      targetPort: imap
      protocol: TCP
  selector:
    app.kubernetes.io/name: dovecot
    app.kubernetes.io/component: imap-proxy
